﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Response from Server: </p>
    <ul>
        @foreach(var user in ViewBag.Users)
        {
            <li>@user.Name</li>
        }
    </ul>
</div>
